body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}
div img{
    border-radius: 10px;
}

div h4{
    margin: auto;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}
div h5{
    text-align: center;
    margin: auto;
    color: hsl(220, 15%, 55%);
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
}
.box{
    background-color: white;
    border-radius: 20px;
    width: 200px;
    height: 330px;
    padding: 10px;
}
